<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="estilosLogin.css" />
</head>

<body>

    <div class="Login">
        <a href="/">
            <img src="imgLoginRegistro/logo.png" alt="Logo de ZAPCHOP">
        </a>
    </div>
    <div class="container">

        <h1 class="titulo">Iniciar sesión</h1>
        <div class="registro">
            <p>¿No tienes cuenta? <a href="/Registro">Regístrate aquí</a></p>
        </div>

        <form th:action="@{/loginusuario}" method="post">
            <div class="field">
                <input type="text" name="correo" required>
            </div>
            <div class="field">
                <input type="password" name="contraseña" required>
            </div>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>



</body>

</html>